pkgbase = ramwise-bin
	pkgdesc = Intelligent RAM usage visualizer for Arch Linux (prebuilt binary)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Duckaet/ramwise
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gcc-libs
	provides = ramwise
	conflicts = ramwise
	source_x86_64 = ramwise-bin-0.1.0-x86_64.tar.gz::https://github.com/Duckaet/ramwise/releases/download/v0.1.0/ramwise-v0.1.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = ramwise-bin-0.1.0-aarch64.tar.gz::https://github.com/Duckaet/ramwise/releases/download/v0.1.0/ramwise-v0.1.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = ramwise-bin
